<<<<<<< HEAD
body {    
    min-height : 100%;
    min-width : 100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
   }

#sfondo{
 background-image: url("sfondo.jpg");
}
=======
body {
    background:url(".\\sfondo.jpg");      
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
   }
>>>>>>> f3090168e67a024193e7d87857c357a32b469bf3
